*{
	box-sizing: border-box;
}
body{

    margin: 0;
	justify-content: center;
    background-color:#E6E6E9;
    font-family: NS Sans,Segoe UI,Myriad,Verdana,sans-serif;
}
@media only screen and (max-width: 40em) {
    body {
    	transition: 1.5s;
        background-color: black;
      	color: red;
    }
}
/*HEADER*/
header{
	width: 100%;
	
	background-color:white;
	display: flex;
	flex-wrap: wrap;
	justify-content:flex-end;
	align-items: center;
	box-shadow: inset 0px -2px 0px 0px grey;
	position: fixed;
	z-index: 10;
	padding-left:1em;
	padding-right: 1em; 

}
@media only screen and (max-width: 40em) {
    header {
    	transition: 1.5s;
        justify-content: center;
      	color: red;
    }
}
header a:first-of-type img{
	width: 4em;
	height: auto;
	flex-grow: 1;

}
header a:last-of-type{
	height: auto;

	flex-grow: 1;
	padding: 1em;
}
header  img{
	max-width: 100%;
	height:auto;
	padding: 0;
	object-fit: contain;
	margin:0;
}
header button,header a:last-of-type {
transition: 0.3s;
    height: 2.8125rem;
 	padding: 0;
  	max-width: 3em;
    font-weight: 400;
    background-color: none;

    line-height: 1.5625rem;
    font-size: 1rem;
  	border:none;
  	margin-left: 1em;
}
header button:hover{
	margin-left:3em;
}
form{

	overflow: hidden;
	transition: .5s
}
h1{
	color: #003082;
    margin-left: 1em;
    flex-grow: 1;
}
h2{
	color: #003082;
	line-height: 1em;
	padding-left: 1em;
 }
 h3{
 	color: #003082;
	line-height: 1em;
	padding-left: 1em;
	font-size: 1em;
 }
 /*HEADER AF*/

section button{
	transition: 0.3s;
    height: 2.8125rem;
    padding: .625rem 1.125rem;
    min-width: 7.5rem;
    font-weight: 400;
    background-color: #2474BA;
    color: #fff;
    text-align: center;
    line-height: 1.5625rem;
    font-size: 1rem;
  	border:none;
  	box-shadow: inset 0px -3px 0px 0px rgba(0,92,161,1);
  	margin-left: 1em;

}
section button:hover{
	box-shadow: inset 2px -50px 0px 0px rgba(0,92,161,1);
}
section aside{
	
	position: relative;
	padding-top: 6em;
	padding-left: 4em;
	margin-left: 2em;
	
	max-width: 30em;
	color: white;
	text-shadow: 0px 2px 5px rgba(149, 150, 150, 1);

}
aside h2{
	color: white;
	margin-left: 0;
}
aside p{
	margin-left: 1em;
}
section form fieldset {

	color: black;
	transition: 0.5s;
	max-width: 22%;
	max-height: 34em;
	padding-left: 1em;
	line-height: 2em;
	margin: 1em;
    display: inline-grid;
    padding-right:3em;

}
section form fieldset ul{

list-style: none;
    padding-left: 0;

}


form>fieldset>ul>li>input {
    margin-left: 0;
    margin-top: auto;
    margin-bottom: auto;
 
}

input[type=checkbox]+label {
    display: inline-block;
    cursor: pointer;
    padding: 0em;
    font-size: 1em;
    width: 7em;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox]+label:before {
    content: "\2714";
    font-size: 1em;
    line-height: 1em;
    border: 0.05em solid gainsboro;
    border-radius: 0.1em;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding: 0.1em;
    margin-right: 0.2em;
    text-align: center;
    color: transparent;
    transition: .2s;
}

input[type=checkbox]+label:active:before {
    transform: scale(0);
}

input[type=checkbox]:checked+label:before {
    color: #005184;
}



}

body>div>form>fieldset>legend {
    color: #6e7477;
    padding-top: 1em;
}

section form{
    
    background-color: #FFC917;
    padding: 1em;
    border: none;
    color: #6d6f71;
    margin: 1em;

}


section{
	display: flex;
	width: 100%;
	justify-content: center;
}
section:first-of-type{
	background: url(img/Verhaalbait-15-17-17.png);
	background-size: cover;
	padding:2em 0;
	display: block;
	max-height: 26em;
}
section img{
	width: 100%;
	object-fit: cover;
	max-height: 24em;
}


main{
    padding-left: 3em;

	display:inline-flex;
	flex-wrap: wrap;

}

article{
	transition: 0.5s;
	max-width: 24em;
	min-height: 24em;
	position: relative;
	background-color: white;
	line-height: 1em;
	margin: 1em;
	box-shadow: 0px 2px 0px 0px grey;
	object-fit: contain;
}
article:hover{
		box-shadow: 0px 5px 0px 0px grey;
}


}
a{
	transition: 0.3s;
	text-decoration: none;
	color: black;
}
a:hover{
	text-decoration: underline;

}
article p{
	vertical-align: bottom;
	margin-top: 1em;
	padding-left: 1em;
}
article img{
	width: 100%;
	height: 10em;
	object-fit: cover;
}
footer{
	background:none;
	padding: 0;
	width: 100%;
	position: absolute;
	display: inline-flex;
	justify-content: space-around;
	bottom: 0;
	margin-top: 4em; 

}
article footer img{
	width: 2.5em;
	max-height: 2.5em;
	  transition: 0.5s;
}
article footer img:hover{
	border-bottom: 5px solid blue;
}
form[action="index.html"]
{	background-color: #FDC817;
	max-width: 32em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0.5rem 2rem 2rem 1.563rem;
    margin-bottom: 1rem;
    color: #003082;
}
	
fieldset{
	border: none;
}
form h2{
	display: inline-block;
	width: 10rem;
	float: left;
    padding-top: .8em;
    text-align: left;
 
}
form input{
	width: calc(100% - 10rem);
    padding: 1rem;
    border: none;
    -webkit-appearance: none;
    box-sizing: border-box;
    margin-bottom: 2em;
}

input:active{
	border: 1px solid #2474BA;
	box-shadow: inset 0px -3px 0px 0px rgba(0,92,161,1);
}
input:focus{
	border: 1px solid #2474BA;
		box-shadow: inset 0px -3px 0px 0px rgba(0,92,161,1);
}
/**MICROINTERATION 1*/
div {

  opacity: 0;
     width: 2em;
    height: 2em;

}
.yay {
animation-name: Like;
    animation-duration: 1.2s;
    opacity: 1;
  z-index: 10;
    position: fixed;


}
.yay img{
    width: 4em;
    height: 4em;
     object-fit: contain;
}
@keyframes Like {
  0% {
    transform:  scaleX(1.00) scaleY(1.00) ;
  }
  10% {
    transform:  scaleX(0.80) scaleY(0.80) translate(0px,-2px);
  }
  20% {
    transform:  scaleX(0.80) scaleY(0.80) translate(0px,-4px);
  }
  30% {
    transform:   scaleX(1.20) scaleY(1.20) translate(0px,-6px);
  }
  40% {
    transform:   scaleX(1.20) scaleY(1.20) translate(0px,-8px);
  }
  50% {
    transform:  scaleX(1.20) scaleY(1.20) translate(0px,-14px);
  }
  60% {
    transform:   scaleX(1.20) scaleY(1.20) translate(0px,-8px) ;
  }
  70% {
    transform:   scaleX(1.20) scaleY(1.20) translate(0px,-6px);
  }
  80% {
    transform:   scaleX(1.20) scaleY(1.20) translate(0px,-4px);
  }
  90% {
    transform:   scaleX(1.20) scaleY(1.20) translate(0px,-2px);
  }
  100% {
    transform:   scaleX(1.10) scaleY(1.10) translate(0px,0px);
   

  }
}